@import 'abstracts/media_varible';

@import 'base/normalize';
@import 'base/reset';
@import 'base/general';

.content
{
	display: flex;

	&--center
	{
		justify-content: center;
	}
}

.calendar
{
	margin: 15px;
	width: 100%;
}

.fc-timegrid-event .fc-event-time
{
	display: none;
}

.fc .fc-list-empty
{
	background-color: #181818;
}

.fc-v-event .fc-event-title
{
	padding: 3px;
}

.btn
{
	padding: 5px;

	font-size: 13px;
	font-weight: bold;

	border: none;
	background-color: #1F1F1F;

	text-align: center;

	&:hover
	{
		background-color: #252525;
	}

	&--full
	{
		width: 100%;
	}
}

.cursor
{
	&--pointer
	{
		cursor: pointer;
	}
}

.link
{
	color: #DC4242;
	text-decoration: underline;

	&:hover
	{
		color: #0567CA;
	}
}

.input
{
	padding: 5px;

	font-size: 11px;
	font-weight: bold;

	border: none;
	background-color: #1F1F1F;

	opacity: .7;
	color: #757575;

	&:focus
	{
		color: #ACACAC;
		opacity: 1;
	}
}

.header
{
	&__wrap
	{
		display: flex;
		padding: 10px;

		background-color: #1C1C1C;
	}
	&__logo
	{
		margin-right: 30px;
	}
}

.logo
{
	font-family: Consolas;
	font-weight: bold;
	font-size: 28px;
	color: #DC4242;
	line-height: 36px;
}

.menu
{
	&__items
	{
		display: flex;
	}

	&__item
	{
		position: relative;

		&--active:before
		{
			position: absolute;
			content: "";

			width: 6px;
			height: 6px;

			left: 0;
			top: calc(50% - 3px);

			border-radius: 50%;

			background-color: #0567CA;
		}
	}

	&__link
	{
		font-size: 18px;
		line-height: 36px;
		padding: 0 15px 0 15px;

		&:hover
		{
			color: #DC4242;
		}
	}
}

.add-user
{
	width: 280px;
	margin: 15px;

	&__title
	{
		margin-bottom: 10px;
	}
	&__btn
	{
		margin-top: 20px;
	}
	&__results
	{
		margin-top: 15px;
		padding-left: 5px;
	}
}

.results-list
{
	&__item
	{
		position: relative;
		font-size: 12px;

		&:not(:first-child)
		{
			margin-top: 5px;
		}
		&--error
		{
			padding-left: 10px;

			&:before
			{
				position: absolute;
				content: "";

				width: 5px;
				height: 5px;

				left: 0;
				top: 5px;

				border-radius: 50%;

				background-color: #DC4242;
			}
		}
	}
}

.lb-row
{
	span
	{
		display: block;
		font-size: 13px;
		margin: 10px 0 5px 5px;
	}

	.input
	{
		width: 100%;
	}
}

.search-box
{
	width: 280px;
	margin: 15px;
	max-height: calc(100vh - 56px - 30px);
	overflow-y: auto;
	padding-right: 10px;

	&__title
	{
		margin-bottom: 10px;
	}
	&__input
	{
		margin-bottom: 15px;
		width: 100%;
	}
}

.search-results
{
	&__item
	{
		border: 1px solid #323232;
		margin: 5px 0;

		font-weight: bold;

		display: grid;
		grid-template-columns: min-content 1fr;

		&--hide
		{
			display: none;
		}
	}

	&__fullname, &__tel, &__date
	{
		padding: 5px;

		.link, .link:visited
		{
			text-decoration: none;
			color: #606060;

			transition: color .3s;
		}
		.link:hover
		{
			color: #DC4242;
		}
	}

	&__tel, &__date
	{
		color: #606060;
		font-size: 11px;
		border-top: 1px solid #323232;
	}

	&__date
	{
		border-left: 1px solid #323232;
		text-align: center;
	}

	&__fullname
	{
		color: #707070;
		font-size: 12px;

		grid-column: span 2;
	}
}

.profile-info
{
	margin-top: 25px;
	width: 500px;

	display: grid;
	grid-template-columns: max-content 1fr;

	&__key, &__value
	{
		padding: 5px;
	}
}
