html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  vertical-align: baseline;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: #dc4242 !important;
  -webkit-border-radius: 15px !important;
          border-radius: 15px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc5757 !important;
}

::-webkit-scrollbar-track {
  background: #191919 !important;
  -webkit-border-radius: 0px !important;
          border-radius: 0px !important;
}

html {
  scrollbar-color: #191919 #dc4242;
}

html, body {
  font-size: 14px;
  font-family: Consolas;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
}

body {
  background-color: #090909;
  color: #ACACAC;
}

:root {
  --fc-border-color: #323232;
  --fc-neutral-bg-color: #323232;
  --fc-page-bg-color: #484848;
  --fc-list-event-hover-bg-color: #222222;
}

.h2 {
  font-size: 16px;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.content--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calendar {
  margin: 15px;
  width: 100%;
}

.fc-timegrid-event .fc-event-time {
  display: none;
}

.fc .fc-list-empty {
  background-color: #181818;
}

.fc-v-event .fc-event-title {
  padding: 3px;
}

.btn {
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  background-color: #1F1F1F;
  text-align: center;
}

.btn:hover {
  background-color: #252525;
}

.btn--full {
  width: 100%;
}

.cursor--pointer {
  cursor: pointer;
}

.link {
  color: #DC4242;
  text-decoration: underline;
}

.link:hover {
  color: #0567CA;
}

.input {
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  border: none;
  background-color: #1F1F1F;
  opacity: .7;
  color: #757575;
}

.input:focus {
  color: #ACACAC;
  opacity: 1;
}

.header__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #1C1C1C;
}

.header__logo {
  margin-right: 30px;
}

.logo {
  font-family: Consolas;
  font-weight: bold;
  font-size: 28px;
  color: #DC4242;
  line-height: 36px;
}

.menu__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__item--active:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 0;
  top: -webkit-calc(50% - 3px);
  top: -moz-calc(50% - 3px);
  top: calc(50% - 3px);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #0567CA;
}

.menu__link {
  font-size: 18px;
  line-height: 36px;
  padding: 0 15px 0 15px;
}

.menu__link:hover {
  color: #DC4242;
}

.add-user {
  width: 280px;
  margin: 15px;
}

.add-user__title {
  margin-bottom: 10px;
}

.add-user__btn {
  margin-top: 20px;
}

.add-user__results {
  margin-top: 15px;
  padding-left: 5px;
}

.results-list__item {
  position: relative;
  font-size: 12px;
}

.results-list__item:not(:first-child) {
  margin-top: 5px;
}

.results-list__item--error {
  padding-left: 10px;
}

.results-list__item--error:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 5px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #DC4242;
}

.lb-row span {
  display: block;
  font-size: 13px;
  margin: 10px 0 5px 5px;
}

.lb-row .input {
  width: 100%;
}

.search-box {
  width: 280px;
  margin: 15px;
  max-height: -webkit-calc(100vh - 56px - 30px);
  max-height: -moz-calc(100vh - 56px - 30px);
  max-height: calc(100vh - 56px - 30px);
  overflow-y: auto;
  padding-right: 10px;
}

.search-box__title {
  margin-bottom: 10px;
}

.search-box__input {
  margin-bottom: 15px;
  width: 100%;
}

.search-results__item {
  border: 1px solid #323232;
  margin: 5px 0;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.search-results__item--hide {
  display: none;
}

.search-results__fullname, .search-results__tel, .search-results__date {
  padding: 5px;
}

.search-results__fullname .link, .search-results__fullname .link:visited, .search-results__tel .link, .search-results__tel .link:visited, .search-results__date .link, .search-results__date .link:visited {
  text-decoration: none;
  color: #606060;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}

.search-results__fullname .link:hover, .search-results__tel .link:hover, .search-results__date .link:hover {
  color: #DC4242;
}

.search-results__tel, .search-results__date {
  color: #606060;
  font-size: 11px;
  border-top: 1px solid #323232;
}

.search-results__date {
  border-left: 1px solid #323232;
  text-align: center;
}

.search-results__fullname {
  color: #707070;
  font-size: 12px;
  grid-column: span 2;
}

.profile-info {
  margin-top: 25px;
  width: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
}

.profile-info__key, .profile-info__value {
  padding: 5px;
}
/*# sourceMappingURL=main.css.map */