<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home page</title>

	<link rel="stylesheet" href="/css/calendar.min.css"/>
	<link rel="stylesheet" href="/css/bootstarp4-darkly.min.css">
	<link rel="stylesheet" href="/css/main.min.css"/>

	<script src="/js/calendar.min.js"></script>
</head>
<body>
	<%- include('partials/header.ejs') %>

	<main class="content">

		<div class="search-box">
			<h2 class="search-box__title h2">Profiles: <span>Loading..</span></h2>

			<input type="text" class="search-box__input input" placeholder="Search profile">

			<ul class="search-box__results search-results">
			<% profiles.forEach((profile) =>
			{%>
				<li class="search-results__item cursor--pointer" data-id="<%=profile.id%>">
					<div class="search-results__fullname"><%=profile.full_name%></div>
					<div class="search-results__tel"><%=profile.tel%></div>
					<div class="search-results__date"><%=profile.next_date ? new Date(profile.next_date).toLocaleString() : 'None'%></div>
				</li>
			<% }); %>
			</ul>

		</div>

		<div class="calendar"></div>
	</main>

	<script src="/js/index.js"></script>
	<script>
		[...document.querySelectorAll('.menu__item')].find((item) => item.textContent.trim() == 'Home').classList.add('menu__item--active');
	</script>
</body>
</html>
