<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profiles page</title>

	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/> -->
	<link rel="stylesheet" href="/css/main.min.css"/>

	<script src="/js/chouces.min.js"></script>
</head>
<body>
	<%- include('partials/header.ejs') %>

	<main class="content content--center">
		<div class="profile-info">
			<div class="profile-info__key">Full Name:</div>
			<div class="profile-info__value"><%= profile.full_name %></div>

			<div class="profile-info__key">Telephone:</div>
			<div class="profile-info__value"><%= profile.tel %> (<a class="link" href="tel:+<%= profile.tel %>">Call</a>)</div>
		</div>
	</main>

	<!-- <script src="/js/profile-page.js"></script> -->
</body>
</html>
