<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profiles</title>

	<link rel="stylesheet" href="/css/main.min.css"/>

	<script src="/js/imask.min.js"></script>
</head>
<body>
	<%- include('partials/header.ejs') %>

	<main class="content">

		<div class="add-user">
			<h2 class="add-user__title h2">Create new profile:</h2>

			<form action="/profile/add" method="POST" class="add-user__form">
				<label class="lb-row">
					<span>Full name:</span>
					<input class="add-user__input input" type="text" name="fullname" autocomplete="off" placeholder="Full name">
				</label>

				<label class="lb-row">
					<span>Telephone:</span>
					<input class="add-user__input input" type="tel" name="tel" autocomplete="off">
				</label>

				<button class="add-user__btn btn btn--full">Add user</button>

				<ul class="add-user__results results-list"></ul>
			</form>

		</div>

		<div class="search-box">
			<h2 class="search-box__title h2">Profiles: <span>Loading..</span></h2>

			<input type="text" class="search-box__input input" placeholder="Search profile">

			<ul class="search-box__results search-results"></ul>

		</div>
	</main>

	<script src="/js/profile-list.js"></script>
	<script>
		[...document.querySelectorAll('.menu__item')].find((item) => item.textContent.trim() == 'Profiles').classList.add('menu__item--active');
	</script>
</body>
</html>
