::-webkit-scrollbar
{
	width: 6px !important;
	height: 6px !important;
}
::-webkit-scrollbar-thumb
{
	background: #dc4242 !important;
	border-radius: 15px !important;
}
::-webkit-scrollbar-thumb:hover
{
	background: #dc5757 !important;
}
::-webkit-scrollbar-track
{
	background: #191919 !important;
	border-radius: 0px !important;
}

// FireFox
html
{
	scrollbar-color: #191919 #dc4242;
}

html, body
{
	font-size: 14px;
	font-family: Consolas;

	min-height: 100vh;
	max-width: 100vw;

	height: 100%;
	width: 100%;
}

body
{
	background-color: #090909;
	color: #ACACAC;
}

:root
{
	--fc-border-color: #323232;
	--fc-neutral-bg-color: #323232;
	--fc-page-bg-color: #484848;
	--fc-list-event-hover-bg-color: #222222;
}

.h2
{
	font-size: 16px;
}
