<header class="header">
	<div class="header__wrap">

		<div class="header__logo logo">
			<a class="logo__link" href="https://CzarOfScripts.com/" target="_blank">Czar Of Scripts</a>
		</div>

		<nav class="header__menu menu">
			<ul class="menu__items">
				<li class="menu__item">
					<a class="menu__link" href="/">Home</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="/profile/">Profiles</a>
				</li>
			</ul>
		</nav>

	</div>
</header>
